<p id="notice"><%= notice %></p>

<h1>Listing Houses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Status</th>
      <th>Rent</th>
      <th>Bedrooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @houses.each do |house| %>
      <tr>
        <td><%= house.name %></td>
        <td><%= house.location %></td>
        <td><%= house.status %></td>
        <td><%= house.rent %></td>
        <td><%= house.bedrooms %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>


