<<<<<<< HEAD
<p id="notice"><%= notice %></p>

<h1>Listing Apartments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Status</th>
      <th>Rent</th>
      <th>Bedrooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.name %></td>
        <td><%= apartment.location %></td>
        <td><%= apartment.status %></td>
        <td><%= apartment.rent %></td>
        <td><%= apartment.bedrooms %></td>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment', new_apartment_path %>
=======
<h1>All Apartments</h1>

<ul id="apartments">
  <% @apartments.each do |apartment| %>
    <li>
      <%= link_to apartment.name, apartment_path(apartment) %>
    </li>
    <li>
      <%= apartment.location %>
    </li>
    <li>
      <%= apartment.noofrooms %>
    </li>
    <li>
      <%= apartment.houseno %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a New Apartment", new_apartment_path, class: "new_apartment" %>
>>>>>>> 5f76f3777e7141640b420cf75df063263ec85ed4
