<h1>All Apartments</h1>

<ul id="apartments">
  <% @apartments.each do |apartment| %>
    <li>
      <%= link_to apartment.name, apartment_path(apartment) %>
    </li>
    <li>
      <%= apartment.location %>
    </li>
    <li>
      <%= apartment.noofrooms %>
    </li>
    <li>
      <%= apartment.houseno %>
    </li>
  <% end %>
</ul>
<%= link_to "Add a New Apartment", new_apartment_path, class: "new_apartment" %>
